<link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/preview-image.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="p-4" style="height: 80px;">
    <h2>CHỈNH SỬA THÔNG TIN VỀ CỬA HÀNG</h2>
</div>
<p class="pl-4 pr-4 font-weight-bold">AE Shop cam kết chất lượng sản phẩm tốt nhất cho khách hàng, đảm bảo tiêu chí: An
    toàn, Tiện lợi, Nhanh chóng. Chúng tôi đã phát triển ứng dụng này để việc mua sắm của quý khách trở nên tiện lợi hơn
    với các tính năng hữu ích sẽ làm hài lòng người sử dụng chỉ với một vài thao tác đơn giản.</p>

<p class="pl-4 pr-4 font-weight-bold">Hãy liên hệ với chúng tôi</p>
<p class="pl-4 pr-4 font-weight-bold pb-4">Số điện thoại: 0971909107
    <br>
    Email: hieubtkx1269@gmail.com
    <br>
    Địa chỉ: 124 Hòe Thị, Phương Canh, Nam Từ Liêm, Hà Nội
</p>