<link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/preview-image.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="p-4" style="height: 80px;">
    <h2>THÊM TRỢ GIÚP</h2>
</div>
<form action="/news/add-news" method="post" enctype="multipart/form-data" class="pr-5 pl-5 pb-5" id="news-form">

    <div class="shadow p-3 bg-white d-flex flex-row mb-3" style=" width:100%; border-radius: 15px; margin-right: 10px;">
        <div class="form-group" style="width: 100%;">
            <textarea class="form-control input bg-white" id="title" rows="3" name="title"
                style="max-width: 100%;" placeholder="Nhập tiêu đề..."></textarea>
        </div>
    </div>

    <div class="shadow p-3 bg-white mb-3 mt-5" style=" width:100%; border-radius: 15px; margin-right: 10px;">
        <div class="form-group  shadow" style="width: 100%;">
            <textarea class="form-control input bg-white" id="content" rows="3" name="content"
                style="max-width: 100%;" placeholder="Nhập nội dung..."></textarea>
        </div>
        <div class="form-group  shadow" style="width: 100%;">
            <input class="form-control input bg-white" id="name-author" rows="3" name="name-author"
                style="max-width: 100%;" placeholder="Nhập tên tác giả...">
        </div>
    </div>

</form>
<div class="col p-5" style="margin: auto; text-align: center">
    <input type="submit" onclick="send()" class="btn btn-primary" style="width: 300px;" />

</div>