<link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/preview-image.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style>
    .input {
        background-color: #DFDFDF;
    }
    .form-control-file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .btn-add-img{
        color: white;
        padding: 5px 20px;
        background-color: #FF000A;
        border-radius: 15px;
        margin-top: 15px;
    }
</style>

<div class="col" style="margin: auto; text-align: center;padding-top: 30px;">
    <h1>Thêm sản phẩm</h1>
</div>

<form action="/product/add-product" method="post" enctype="multipart/form-data">

    <div class="row">
        <div class="col-xl-6 p-5">
            <div class="form-group">
                <label for="maneProduct">Tên sản phẩm</label>
                <input type="text" class="form-control input input" id="maneProduct" name="maneProduct"
                    placeholder="Tên sản phẩm" style="background-color: #DFDFDF">
            </div>
            <div class="form-group">
                <label for="priceProduct">Giá sản phẩm</label>
                <input type="number" class="form-control input" id="priceProduct" name="priceProduct"
                    placeholder="Giá sản phẩm">
            </div>
            <div class="form-group">
                <label for="saleProduct">Khuyến mãi</label>
                <input type="number" class="form-control input" id="saleProduct" name="saleProduct"
                    placeholder="Khuyến mãi (%)">
            </div>
            <div class="form-group">
                <label for="categoryProduct">Phân loại</label>
                <select class="custom-select mr-sm-2 input" id="categoryProduct" name="categoryProduct">
                    <option selected>Chọn...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="typeProduct">Thể loại</label>
                <select class="custom-select mr-sm-2 input" id="typeProduct" name="typeProduct">
                    <option selected>Chọn...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="desProduct">Thông tin chi tiết</label>
                <textarea class="form-control input" id="desProduct" rows="3" name="desProduct"></textarea>
            </div>
        </div>


        <div class="col-xl-6 p-5">
            <div class="form-group field input pl-2 pb-2">

                <input type="file" class="form-control-file" id="pictureProduct" name="pictureProduct" multiple="true"
                    onclick="deletePriview()">
                
                <label for="pictureProduct" class="btn-add-img">Thêm ảnh</label>
            </div>
            <div class="form-group">
                <label>Mô tả chi tiết</label>

                <div class="row m-2 border pt-2 pb-2" style="background-color: #DFDFDF">
                    <div class="col-4" id="newElementKey">Thông tin</div>
                    <div class="col-8" id="newElementValue">Nội dung</div>
                </div>

                <div class="row ml-2">
                    <div id="dynamicCheck" style="width: 30px; height: 30px;">
                        <img src="../../image/add2.svg" width="100%" height="100%" onclick="add();">
                    </div>
                    <div id="dynamicCheck" style="width: 30px; height: 30px;">
                        <img src="../../image/remove.svg" width="100%" height="100%" onclick="remove();">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col p-5" style="margin: auto; text-align: center">
        <input type="submit" class="btn btn-primary" style="width: 300px;" />

    </div>
</form>

<script>
    var i = 0;
    function add() {
        i++;
        var txtNewInputKey = document.createElement('div');
        var txtNewInputValue = document.createElement('div');

        // Then add the content (a new input box) of the element.
        txtNewInputKey.innerHTML = "<input type='text' id='keyInfoProduct" + i + "' name='keyInfoProduct' style='margin-top: 10px; margin-bottom: 10px;'>";
        txtNewInputValue.innerHTML = "<input type='text' id='valueInfoProduct" + i + "' name='valueInfoProduct' style='margin-top: 10px; margin-bottom: 10px; width: 100%;'>";

        // Finally put it where it is supposed to appear.
        document.getElementById("newElementKey").appendChild(txtNewInputKey);
        document.getElementById("newElementValue").appendChild(txtNewInputValue);
    }

    function remove() {
        var keyInfoProduct = document.getElementById("keyInfoProduct" + i);
        var ValueInfoProduct = document.getElementById("valueInfoProduct" + i);

        keyInfoProduct.remove();
        ValueInfoProduct.remove();
        i--;
        if (i < 0) {
            i = 0;
        }
    }


    var imginput = document.getElementById("pictureProduct");

    function deletePriview() {
        removePriviewImage()
    }
    function removePriviewImage() {
        var pip = document.getElementsByClassName("pip");
        var pipLength = pip.length;
        for (var i = 0; i < pipLength; i++) {
            pip[0].remove();
        }
    }
    $(document).ready(function () {
        if (window.File && window.FileList && window.FileReader) {
            $("#pictureProduct").on("change", function (e) {
                var files = e.target.files,
                    filesLength = files.length;
                for (var i = 0; i < filesLength; i++) {
                    var f = files[i]
                    if (!/\.(jpe?g|png|gif)$/i.test(f.name)) {
                        alert("Hãy chọn ảnh");
                        imginput.value = null;
                        return false;
                    }
                    var fileReader = new FileReader();
                    fileReader.onload = (function (e) {
                        var file = e.target;
                        if (imginput.value == "") {
                            $("");
                        } else {
                            $("<span class=\"pip\">" +
                                "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                                "</span>").insertAfter("#pictureProduct");
                        }
                    });
                    fileReader.readAsDataURL(f);
                }
            });
        } else {
            alert("Your browser doesn't support to File API")
        }
    });
</script>