<link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style>
  .btn-add-img {
    color: white;
    padding: 5px 20px;
    background-color: #FF000A;
    border-radius: 15px;
  }
  .my_modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
</style>

<div class="p-4" style="height: 80px;">
  <h2>CHỈNH SỬA THÔNG TIN NGƯỜI DÙNG</h2>
</div>

<div class="p-5">
  <form action="/administrator" method="post" enctype="multipart/form-data">
    <div class="d-flex justify-content-between" style="width: 100%;">
      <div class="shadow p-3 d-flex justify-content-between" style="width:30%">
        <div class="d-flex align-items-center" style=" text-align: center;">
          <img class="border rounded-circle ml-4" src="../../../image/logo1.svg" width="100" height="100" alt>
          <div class="pl-5">
<!--            <input type="file" class="form-control-file" id="pictureNews" name="avatarAdmin">-->
            <label for="pictureNews" class="btn-add-img">Thay đổi ảnh</label>
          </div>

        </div>
      </div>

      <div class="shadow p-3" style="width:65%">
        <h3>TÊN TÀI KHOẢN</h3>
        <h3 class="shadow p-3">HIẾU TRẦN </h3>
      </div>
    </div>

    <div class="pt-5">
      <div class="shadow p-3">
        <h4>ĐỔI MẬT KHẨU</h4>
        <div class="p-3 d-flex justify-content-between">
          <input type="password" class="form-control shadow mr-3" id="old-password" name="oldPassword"
            placeholder="Nhập mật khẩu cũ" required>
          <i class="far fa-eye" id="toggleOldPassword"
            style="position: relative; top: 10px; left: -45px;cursor: pointer;"></i>
          </input>
          <input type="password" class="form-control shadow mr-3" id="new-password" name="newPassword"
            placeholder="Nhập mật khẩu cũ" required>
          <i class="far fa-eye" id="toggleNewPassword"
            style="position: relative; top: 10px; left: -45px;cursor: pointer;"></i>
          </input>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row-reverse" style="margin-top:100px">

      <input type="submit" class="border-0 rounded text-white font-weight-bold" value="LƯU"
        style="padding: 10px 100px; background-color: #F91A07;">
        <a class="border-0 rounded text-white font-weight-bold mr-5" style="padding: 10px 100px; background-color: #C5C5C5;" href="/administrator"> HỦY </a>
    </div>
  </form>

    <div id="myModal" class="my_modal">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <div class="modal-content text-center">
                <div class="modal-body">
                    <img id="icon" class="animated rotateIn mb-4" src="../../image/notifycation.png" width="150"
                         height="150"/>
                    <p id="message">{{{message}}}</p>
                </div>
                <div class="mb-3 flex-center">
                    <a style="width: 30%; background-color: red; color: white" type="button"
                       id="close" class="btn waves-effect" data-dismiss="modal">Đồng ý</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  const toggleOldPassword = document.querySelector('#toggleOldPassword');
  const toggleNewPassword = document.querySelector('#toggleNewPassword');
  const oldPassword = document.querySelector('#old-password');
  const newPassword = document.querySelector('#new-password');

  toggleOldPassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = oldPassword.getAttribute('type') === 'password' ? 'text' : 'password';
    oldPassword.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
  });

  toggleNewPassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = newPassword.getAttribute('type') === 'password' ? 'text' : 'password';
    newPassword.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
  });


  //Thông báo
  var modal = document.getElementById("myModal");
  var span = document.getElementById("close");
  span.onclick = function () {
      modal.style.display = "none";
  }
  var message = $('#message').text();
  if (message) {
      modal.style.display = "block";
      if (message === 'Đổi mật khẩu thành công!') {
          $('#icon').attr('src', '../../image/ic_success.png');
      } else {
          $('#icon').attr('src', '../../image/notifycation.png');
      }
  }
</script>
