<link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
<div class="p-4" style="height: 80px;">
  <a class="d-flex flex-row" style="color:black; text-decoration: none;" href="/order">
    <h2>
      < </h2>
        <h2 style="text-decoration: underline; color: black; text-decoration-color: red;"> Chi tiết đơn hàng</h2>
  </a>
</div>
<div class="p-5">
  <div class="d-flex justify-content-between" style="width: 100%;">
    <div class="shadow p-3 border border-secondary" style="width:24%">
      <h3>NGƯỜI NHẬN HÀNG</h3>
      <br>
      <p>Địa chỉ: <span>124/39 Hòe Thị</span></p>
      <p>Số điện thoại: <span>0123456789</span></p>
    </div>

    <div class="shadow p-3 border border-secondary" style="width:24%">
      <h3>NGƯỜI NHẬN HÀNG</h3>
      <br>
      <p>Địa chỉ: <span>124/39 Hòe Thị</span></p>
      <p>Số điện thoại: <span>0123456789</span></p>
    </div>

    <div class="shadow p-3 border border-secondary" style="width:24%">
      <h3>NGƯỜI NHẬN HÀNG</h3>
      <br>
      <p>Địa chỉ: <span>124/39 Hòe Thị</span></p>
      <p>Số điện thoại: <span>0123456789</span></p>
    </div>

    <div class="shadow p-3 border border-secondary" style="width:24%">
      <h3>NGƯỜI NHẬN HÀNG</h3>
      <br>
      <p>Địa chỉ: <span>124/39 Hòe Thị</span></p>
      <p>Số điện thoại: <span>0123456789</span></p>
    </div>
  </div>

  <div class="pt-5">
    <table class="table table-borderless text-center border">
      <thead class="border">
        <tr>
          <th>Sản phẩm</th>
          <th>Đơn giá</th>
          <th>Số lượng</th>
          <th>Thành tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            V
          </th>
          <th>BILL001</th>
          <th>Nguyễn Văn Hiếu</th>
          <th>20/8/2021</th>
          <th>
        </tr>

        <tr>
          <th>
            V
          </th>
          <th>BILL001</th>
          <th>Nguyễn Văn Hiếu</th>
          <th>20/8/2021</th>
        </tr>


        <tr>
          <th>
            V
          </th>
          <th>BILL001</th>
          <th>Nguyễn Văn Hiếu</th>
          <th>20/8/2021</th>
        </tr>


        <tr class="border">
          <th colspan="2" class="text-left pl-5">
            <p>Tổng <span>1</span> sản phẩm</p>
          </th>
          <th colspan="2" class="text-right pr-5">
            <p>Thành tiền: <span class=" font-weight-bold h4" style="color:red;">1đ</span></p>
          </th>
      </tbody>
    </table>
  </div>
</div>


<style>

</style>