<link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/preview-image.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style>
    .input {
        background-color: #DFDFDF;
    }

    .form-control-file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .btn-add-img {
        color: white;
        padding: 5px 20px;
        background-color: #FF000A;
        border-radius: 15px;
    }

    #show-img {
        width: 200px;
        height: 100px;
        text-align: center;
        border-radius: 15px;
        background-image: url(../../image/bg_img.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80px;
    }
</style>

<div class="p-4" style="height: 80px;">
    <h2>THÊM TIN TỨC</h2>
</div>
<form action="/news/edit-news" method="post" enctype="multipart/form-data" class="pr-5 pl-5 pb-5" id="news-form">

    <div class="shadow p-3 bg-white d-flex flex-row mb-3" style=" width:100%; border-radius: 15px; margin-right: 10px;">
        <div style=" text-align: center;">
            <img src="../../image/bg_img.png" width="130" height="110" class="shadow form-group p-2" alt=""
                style="border-radius: 15px;" id="imgPreview">
            <input type="file" class="form-control-file input-file" id="imgInp" name="pictureNews">
            <label for="imgInp" class="btn-add-img">Thêm ảnh</label>
        </div>
        <div class="form-group pl-3" style="width: 100%;">
            <textarea class="form-control input bg-white" id="contentNews0" rows="3" name="desProduct"
                style="max-width: 100%;" placeholder="Nhập tiêu đề..."></textarea>
        </div>
    </div>

    <div class="shadow p-3 bg-white" style=" width:100%; border-radius: 15px; margin-right: 10px;">
        <div class="row ml-2">
            <div id="dynamicCheck" style="width: 30px; height: 30px;" onclick="remove();">
                <img src="../../image/remove-elemnt-news.svg" width="100%" height="100%">
            </div>
            <div id="dynamicCheck" class="text-center font-weight-bold"
                style="width: 30px; height: 30px;  font-size: 18px;">
                <p>2</p>
            </div>
            <div id="dynamicCheck" style="width: 30px; height: 30px;" onclick="add();">
                <img src="../../image/add-elemnt-news.svg" width="100%" height="100%">
            </div>
        </div>
        <div id="newElementNews">

        </div>
    </div>
    <script>

    </script>
</form>
<div class="col p-5" style="margin: auto; text-align: center">
    <input type="submit" onclick="send()" class="btn btn-primary" style="width: 300px;" />

</div>

<script>

    var i = 0;
    function add() {
        i++;
        console.log(i);
        var newElementNews = document.createElement('div');
        // Then add the content (a new input box) of the element.
        newElementNews.innerHTML =
            "<div class='shadow p-3 bg-white d-flex mt-3' style=' width:100%; border-radius: 15px; margin-right: 10px;' id='elementNews" + i + "'>" +
                "<div style=' text-align: center;  border-right: 2px solid rgba(0, 0, 0, 0.2);'>"+
                    "<img src='../../image/bg_img.png' width='130' height='110'class=' form-group p-2' alt='' style='border-radius: 15px;'" +"id='imgPreview"+i+"'>"+
                    "<input type='file' class='form-control-file input-file' id='imgInp"+i+"' name='pictureNews'>"+
                    "<label for='imgInp"+i+"' class='btn-add-img'>Thêm ảnh</label>"+
                "</div>"+
                "<div class='form-group pl-3' style='width: 100%;'>" +
                "<textarea class='form-control input bg-white' id='contentNews" + i + "' rows='3' name='desProduct'" +
                "style='max-width: 100%;' placeholder='Nhập nội dung...'></textarea>" +
                "</div>" +
            "</div>";
        document.getElementById("newElementNews").appendChild(newElementNews);

        var script = document.createElement("script");
        script.innerHTML = 
        "imgInp"+i+".onchange = evt => { \n"+
            "const [file"+i+"] = imgInp"+i+".files;\n"+
            "if (file"+i+") {\n"+
                "if (file"+i+".type !== 'image/jpeg' && file"+i+".type !== 'image/png' && !file"+i+".type !== 'image/jpg') {\n"+
                    "alert('Vui lòng chọn ảnh');\n"+
                    "document.getElementById('imgInp"+i+"').value = null;\n"+
                    "return false;\n"+
                "} else {\n"+
                   "imgPreview"+i+".src = URL.createObjectURL(file"+i+");\n"+
                "}\n"+
            "}\n"+
        "}\n"+
        "document.getElementById('imgInp"+i+"').onclick = function() {\n"+
           "document.getElementById('imgPreview"+i+"').src = '../../image/bg_img.png';\n"+
        "}";

        document.getElementById("elementNews" + i ).appendChild(script);
    }

    function remove() {
        var elementNews = document.getElementById("elementNews" + i);
        if (i <= 0) {
            i = 1;
            console.log(i);
        } else {
            elementNews.remove();
            console.log(i);
        }
        i--;
    }


        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                if (file.type !== "image/jpeg" && file.type !== 'image/png' && !file.type !== 'image/jpg') {
                    alert('Vui lòng chọn ảnh')
                    document.getElementById("imgInp").value = null;
                    return false;

                } else {
                    imgPreview.src = URL.createObjectURL(file);
                }

            }
        }

        document.getElementById("imgInp").onclick = function() {
            document.getElementById("imgPreview").src = "../../image/bg_img.png";
        }

        function send() {
            var a = document.getElementsByClassName("input-file");
            var pipLength = a.length;
            const file = [];
            for (var j = 0; j < pipLength; j++) {
                const [f] = a[j].files
                file.push(f);
            }

            for (var u = 0; u < file.length; u++) {
                if (!file[u]) {
                    alert("Ảnh nội dung "+u + "đã bị trống, vui lòng chọn ảnh!")
                    return false
                }
            }
            document.getElementById("news-form").submit();
        }

</script>