<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="../../css/login.css">

<div
  style="padding: 80px; background: linear-gradient(270deg, rgba(255, 0, 0, 0.6) 0%, #FF0000 77.92%); height: 100vh;">
  <div class="wrap d-md-flex" style="height:100%">
    <div class="img">
      <img src="../../image/logo.svg" width="100%" height="100%">
    </div>
    <div class="login-wrap p-4 p-md-5 align-self-center">
      <div class="d-flex">
        <div class="w-100">
          <p class="mb-4 font-weight-bold" style="color: #1A202C;font-size: 30px;">Đăng nhập tải khoản của bạn</p>
        </div>
      </div>
      <form action="/login" method="POST" class="signin-form">
        <div class="form-group mb-3">
          <label style="color: #4A5568" for="name">Email</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="Email" required>
        </div>
        <div class="form-group mb-3">
          <label style="color: #4A5568" for="password">Mật khẩu</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu" required>
        </div>
        <div class="form-group d-md-flex">
          <div class="w-50 text-left">
            <label class="checkbox-wrap  text-dark mb-0">Nhớ mật khẩu
              <input type="checkbox" id="remember" name="remember" checked>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="form-control btn  rounded submit px-3" value="Đăng nhập"
            style="background-color:#FF0000; color: white">
        </div>
      </form>
    </div>
  </div>
</div>