<link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
<div class="p-4" style="height: 80px;">
    <h2>QUẢN LÝ ĐƠN HÀNG</h2>
</div>
<div class="row pl-5 pr-5 pb-5">
    <table class="text-center">
        <thead>
            <tr style="height:54px">
                <th>Trạng thái</th>
                <th>Mã đơn hàng</th>
                <th>Tên khách hàng</th>
                <th>Ngày đặt</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height:80px">
                <th>
                    V
                </th>
                <th>BILL001</th>
                <th>Nguyễn Văn Hiếu</th>
                <th>20/8/2021</th>
                <th>
                    <a href="/order/detail" style="color: black; text-decoration: underline;">
                        Chi tiết đơn hàng
                    </a>
                </th>
            </tr>
        </tbody>
    </table>

</div>


<style>
    table,
    td,
    th {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td,
        {
        vertical-align: bottom;
    }

    li {
        display: inline;
    }
</style>