
<form action="/uploads" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="text" class="form-control-file" id="name" name="name">
    <input type="text" class="form-control-file" id="age" name="age">
    <input type="file" class="form-control-file" id="img" name="img">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>