<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../../css/menu-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script type="text/javascript" src="../../../js/menu.js"></script>
</head>

<body>
    <!--wrapper start-->
    <div class="wrapper">

        <!--sidebar start-->
        <div class="sidebar">
            <div class="sidebar-menu">
                <center class="profile">
                    <img src="dist/img/avatar.png" alt="">
                    <p>jQueryScript</p>
                </center>
                <li class="item">
                    <a href="#" class="menu-btn"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
                </li>
                <li class="item">
                    <a href="#" class="menu-btn"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
                </li>
                <li class="item">
                    <a href="#" class="menu-btn"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
                </li>
                <li class="item">
                    <a href="#" class="menu-btn"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
                </li>
                <li class="item">
                    <a href="#" class="menu-btn"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
                </li>
                <li class="item">
                    <a href="#" class="menu-btn"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
                </li>
            </div>
        </div>
        <!--sidebar end-->
        <!--header menu start-->
        <div class="header">
            <div class="header-menu">
                <div class="title"><span class="title-hide">jQuery<span class="sec-span">Script</span></span></div>
                <ul>
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li><a href=""><i class="fas fa-power-off"></i></a></li>
                </ul>
            </div>
        </div>
        <!--header menu end-->
        <!--main container start-->
        <div class="main-container">
            {{{body}}}
        </div>
        <!--main container end-->
    </div>
    <!--wrapper end-->
</body>

</html>