<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AE Shop</title>

    <link rel="stylesheet" href="../../../css/menu-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script type="text/javascript" src="../../../js/menu.js"></script>
</head>

<body>
    <!--wrapper start-->
    <div class="wrapper">

        <!--sidebar start-->
        <div class="sidebar">
            <div class="sidebar-menu">
                <center class="profile">
                    <img src="../../../image/logo.jpg" alt="">
                    <p>AESHOP</p>
                </center>
                <li class="item" style="margin-top: 60px;">
                    <a href="#" class="menu-btn"><i class="fas fa-paper-plane"></i><span>Đăng tin tức</span></a>
                </li>
                <li class="item">
                    <a href="/product" class="menu-btn"><i class="fas fa-box-open"></i><span>Quản lý sản phẩm</span></a>
                </li>
                <li class="item">
                    <a href="#" class="menu-btn"><i class="fas fa-file-invoice-dollar"></i><span>Quản lý đơn
                            hàng</span></a>
                </li>
                <li class="item">
                    <a href="#" class="menu-btn"><i class="fas fa-headset"></i><span>Hỗ trợ</span></a>
                </li>
                <li class="item" style="position: fixed; bottom: 30px;left: 0;">
                    <a href="#" class="menu-btn" style="text-align: center;  "><span>Đăng Xuất</span></a>
                </li>
            </div>
        </div>

        <div class="main-container" style=" padding-top:30px; padding:0 50px">
            {{{body}}}
        </div>

        <div class="header">
            <div class="header-menu">
                <div class="title">
                    <span class="title-hide ml-5" style="font-size: 40px; color: white; ">AE<span class="sec-span" style="font-size: 25px;">Shop</span></span>
                </div>
            </div>
        </div>
    </div>
    <!--wrapper end-->
</body>

</html>